
{% extends 'base.html' %}

{% load i18n thumbnail %}

{% load static %}

<head>
    <link rel="stylesheet" href="{{ STATIC_URL }} styles.css">
</head>


{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">
                    {% trans "Home" %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.name }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ product.name }}
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-4">
            {% thumbnail product.logo "100"  crop="center" as img %}
                <img src="{{ img.url }}" class="img-thumbnail img-fluid">
            {% empty %}
                No logo
            {% endthumbnail %}
        </div>

        <div class="col-8">
            <h4>{{ product.name }}</h4>
            {% if request.user.is_staff %}
                <a href="{% url 'admin:products_product_change' product.id %}" target="_blank">
                    Edit
                </a>
            {% endif %}
            <table id="attributes">
                <tr>
                    <td>Category: </td>
                    <td>{{ product.category.name }}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>{{ product.price }}</td>
                </tr>
            </table>

            <form action="{% url 'orders:quick-checkout' %}"
                  method="post"
                  data-role="quick-checkout-form"
                  class="mb-5">

                {% csrf_token %}

                {{ quick_checkout_form.product }}

                <div class="input-group">
                    {{ quick_checkout_form.mobile }}
                    <button class="btn btn-outline-secondary" type="submit">
                        {% trans "Buy" %}
                    </button>
                </div>
            </form>

            <form action="{% url 'cart:add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <button type="submit"
                        name="product"
                        class="btn btn-success"
                        {% if is_added_to_cart %}disabled{% endif %}
                        value="{{ product.id }}">
                    <i class="fa fa-shopping-cart"></i> Add to cart
                </button>
            </form>
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ block.super }}

    <script>
        (function ($) {

            var $form = $('[data-role=quick-checkout-form]');

            $form.submit(function (event) {
                event.preventDefault();

                $.post($form.prop('action'), $form.serialize(), function (response) {
                    $form.remove();

                    $.notify({
                        message: response.message
                    }, {
                        type: 'success'
                    });
                });
            });

        })(jQuery);
    </script>
{% endblock %}
