
{% extends 'base.html' %}

{% load i18n %}


{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">
                    {% trans "Home" %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.name }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ product.name }}
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-4">
            {% if product.logo %}
                <img class="img-thumbnail img-fluid" src="{{ product.logo.url }}">
            {% else %}
                No logo
            {% endif %}
        </div>
        <div class="col-8">
            <h4>{{ product.name }}</h4>
            <ul>
                <li>
                    Category: {{ product.category.name }}
                </li>
                <li>
                    Price: {{ product.price }}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
