
{% extends 'base.html' %}

{% load i18n %}


{% block content %}
    <style>
    .product-card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
        transition: all .3s;
        width: 400px;
        height: 550px;
    }

    .product-card:hover {
        box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    }

    .product-thumb a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        padding: 20px;
    }

    .product-thumb img {
        max-width: 250px;
        max-height: 250px;
    }

    .product-details {
        padding: 20px;
    }

    .product-details h4 a {
        font-weight: 500;
        display: block;
        height: 60px;
        overflow: hidden;
        text-decoration: none;
    }

    .product-details p {
        font-size: 15px;
        margin-bottom: 20px;
        color: #999;
        height: 44px;
        overflow: hidden;
    }

    .product-bottom-details {
        overflow: hidden;
        border-top: 1px solid #eee;
        padding-top: 20px;
    }

    .product-price {
        font-size: 18px;
        color: #ee6e73;
        font-weight: 600;
    }

    .product-price-old {
        color: #333333;
    }

    .product-price small {
        color: #ccc;
        font-weight: 400;
        text-decoration: line-through;
        margin-right: 5px;
    }

    .product-links a {
        font-size: 20px;
        margin-left: 10px;
    }
    .product-title{
        height: 65px;
    }
    .link{
        color: #1f2021;
        text-decoration: none;
    }
    .category-title{
        text-align: center;
        margin-bottom: 25px;
        margin-top: 19px;
    }

    </style>
    <div class="category-title">
        <h4>{{ category.name }}</h4>
    </div>

{#    <ul>#}
{#        {% for product in page_obj.object_list %}#}
{#            <li>#}
{##}
{#                {% if request.user.is_staff %}#}
{#                    <button type="button" data-role="edit-product" data-url="{% url 'admin:products_product_change' product.id %}?_popup=1">#}
{#                        {% trans "Edit" %}#}
{#                    </button>#}
{#                {% endif %}#}
{#                {% if product.logo %}#}
{#                    <img src="{{ product.logo.url }}" width="100">#}
{#                {% else %}#}
{#                    No logo#}
{#                {% endif %}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <div class="container">
        <div class="row">
            {% for product in page_obj.object_list %}
                <div class="col-lg-4 col-sm-4 mb-3">
                    <div class="product-card">
                        <a  class="link" href="{{ product.get_absolute_url }}">
                            <div class="product-thumb">

                                {% if product.logo %}
                                    <p style="text-align: center">
                                        <img src="{{ product.logo.url }}">
                                    </p>
                                {% else %}
                                    No logo
                                {% endif %}
                            </div>
                            <div class="product-details">
                                <div class="product-title">
                                    <h4>{{ product.name }}</h4>
                                </div>
                                {{ product.description|truncatechars:200 }}
                            </div>
                            <div class="product-bottom-details d-flex justify-content-between">

                                <div class="product-price">
                                    {% if product.new_price %}
                                        <small>{{ product.price }}$</small>{{ product.new_price }}
                                    {% endif %}
                                    <div class="product-price-old">
                                        {% if product.new_price is None%}
                                            {{ product.price }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="product-links">
                                    <form action="{% url 'cart:add' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                        <button type="submit"
                                                name="product"
                                                {% if is_added_to_cart %}disabled{% endif %}
                                                value="{{ product.id }}">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ page_obj.render }}

{% endblock %}


{% block js %}
    {{ block.super }}
    <script>
        (function ($) {
            $('[data-role=edit-product]').on('click', function () {
                window.open(
                    $(this).data('url'),
                    "",
                    "left=100,top=100,width=1000,height=600"
                );
            });

            window.dismissChangeRelatedObjectPopup = function (popup) {
                popup.close();
                window.location.reload();
            };
        })(jQuery);
    </script>
{% endblock %}
