
{% extends 'base.html' %}


{% block content %}

    <h4>{{ category.name }}</h4>

    <ul>
        {% for product in products %}
            <li>
                <a href="{{ product.get_absolute_url }}">
                    {{ product.name }} - ${{ product.price }}
                </a>
                {% if product.logo %}
                    <img src="{{ product.logo.url }}" width="100">
                {% else %}
                    No logo
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
