.detail{
	display: flex;
}

.product {
	width: 285px; /* для удобства */
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 20px;
	padding-top: 9px;
	font-size: 14px;
	background-color: #fff;
}

.product__image {
	position: relative;
	overflow: hidden;
	display: block;
	height: 400px;
	width: 410px;
	margin-top: 23px;
}

.image-switch {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: flex;
}

.image-switch__item {
	flex-grow: 1;
	cursor: pointer;
}

.image-switch__img {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	pointer-events: none;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.image-switch__img img {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-switch__item:first-child .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-switch__item:hover .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-pagination {
	position: absolute;
	z-index: 30;
	left: 0;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.image-pagination__item {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	margin: 0 3px;
	background-color: #c4c4c4;
}

.product-info{
	padding: 5px;
	margin-left: 40px;
	width: 850px;
}

.product-title {
	text-align: center;
}

.product-border {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
	margin-top: 20px;
	background: #fafafa;
}

.product-border:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-title h4 {
	padding-top: 15px;
}

.product-title a {
	color: #1f2021;
	text-decoration: none;
}

.table-product {
	font-size: 20px;
	margin-top: 20px;
}

.table-product td{
	padding: 10px 20px;
}

.table-product td:first-child{
	min-width: 300px;
	max-width: 300px;
}

.product-price-info {
    color: #ee6e73;
	font-size: 30px;
	padding-left: 10px;
	max-height: 200px;
}

.product-price-sell{
	margin: -11px;
    padding-left: 10px;
}

.product-price-info small {
    color: #ccc;
    text-decoration: line-through;
	font-size: 23px;
}

.availability-cancel{
    color: #bf391a;
	font-size: 20px;
	display: flex;
	padding-top: 10px;
}

.availability-cancel h4{
	padding-left: 3px;
}

.availability_done{
	color: #5ea64b;
    padding-top: 10px;
	display: flex;
}

.availability_done h4{
	padding-left: 3px;
}

.availability_img{
	width: 20px;
    height: 24px;
    padding-top: 5px;
}

.product-price-button{
	padding-top: 6px;
	padding-bottom: 10px;
}

.btn-buy_product {
    color: #000;
    background-color: #cccccc;
	border-color: #767676;
}


