
{% extends 'base.html' %}

{% load slider i18n %}


{% block content %}

    <div class="manufacturers">
        <a href="/">harley</a>
        <a href="/111/">honda</a>
    </div>

    <button type="button" data-role="add-review" data-url="{% url 'reviews:add' %}">
        {% trans "Add review" %}
    </button>

    {% render_slider %}

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ category.get_absolute_url }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script>
        (function ($) {
            new Modal({
                $target: $('[data-role=add-review]')
            });
        })(jQuery);
    </script>
{% endblock %}
