
{% extends 'base.html' %}

{% load slider i18n %}


{% block content %}

    <button type="button" data-role="add-review" data-url="{% url 'reviews:add' %}">
        {% trans "Add review" %}
    </button>

    <button type="button" data-role="add-callback" data-url="{% url 'callback:add' %}">
        {% trans "Add callback" %}
    </button>

    {% if request.user.is_staff %}
        <button type="button" data-role="add-product" data-url="{% url 'admin:products_product_add' %}?_popup=1">
            {% trans "Add product" %}
        </button>
    {% endif %}

    {% render_slider %}

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ category.get_absolute_url }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script>
        (function ($) {
            new Modal({
                $target: $('[data-role=add-review]')
            });

            new Modal({
                $target: $('[data-role=add-callback]')
            });

            $('[data-role=add-product]').on('click', function () {
                window.open(
                    $(this).data('url'),
                    "",
                    "left=100,top=100,width=1000,height=600"
                );
            });

            window.dismissAddRelatedObjectPopup = function (popup) {
                popup.close();
                window.location.reload();
            };
        })(jQuery);
    </script>
{% endblock %}
