
{% extends 'base.html' %}

{% load i18n %}


{% block content %}

    <h4>New order</h4>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
            Save
        </button>
    </form>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function ($) {
            new SelectChainedBox({
                $select: $('#{{ form.delivery_method.auto_id }}'),
                $target: $('#{{ form.post_office.auto_id }}'),
                value: 'SELF-PICKUP',
                isReversed: true
            });
            new SelectChainedBox({
                $select: $('#{{ form.delivery_method.auto_id }}'),
                $target: $('#{{ form.delivery_district_address.auto_id }}'),
                value: 'SELF-PICKUP',
                isReversed: true
            });
            new SelectChainedBox({
                $select: $('#{{ form.delivery_method.auto_id }}'),
                $target: $('#{{ form.delivery_region_address.auto_id }}'),
                value: 'SELF-PICKUP',
                isReversed: true
            });
        })(jQuery);
    </script>
{% endblock %}

